@font-face {
    font-family: 'MyFont';
    src: url('fonts/Kometa-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.logo {
    font-family: 'MyFont', 'Kometa-bold';
}