@font-face {
    font-family: Kometa;
    src: url(fonts/Kometa-Bold.ttf);
}

@font-face {
    font-family: Nyasha;
    src: url(fonts/nyashasans.ttf);
}


.logo {
    font-family: Kometa;
    color: aqua;
    font-size: 50px;
    font-weight: bold;
}


body {
    background-color: black;
}

.main {
    font-family: Nyasha;
    color: aqua;
    font-size: 30px;
    font-weight: bold;
}


.post {
    margin:100px;
    background-color: hsl(0, 0%, 0%);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 6px solid aqua;
    display: flex;
  
  }
  .posttext {
      color:aqua;
   
      font-size: 30px;
      font-family: Kometa;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  .post img {
    margin: 20px;
    border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 6px solid aqua;
  }